[v-cloak] {
    display: none;
}

.logo {
    width: 80px;
}

.footer-logo {
    width: 50px;
}

* {
    font-family: "Montserrat", sans-serif;
}

main {
    margin-top: 200px;
    margin-bottom: 80px;
}